  /* Body style */

  * {
    box-sizing: border-box;
  }

  :root {
    --primary: rgb(99, 108, 107);
    --secondary: rgb(238, 131, 9);
    --tertiary: rgb(240, 121, 82) --dark: rgba(28, 29, 33, 1);
    --light: rgb(152, 177, 205);
  }

  body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    color: var(--primary);
    background-color: var(--light);
    line-height: 1.5;
  }

  h1, h2, h3, h4, h5, h6 {
    margin: 0;
  }

  p {
    margin: 0;
  }

  /* Header style */

  header {
    padding: 15px 6% 15px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background-color: #434d56;
    box-shadow: 0 5px 35px rgb(177, 235, 243);
  }

  header h1 {
    color: var(--tertiary);
    background-color: var(--secondary);
    padding: 5px 1% 5px 5%;
    margin: 0;
    font-size: 3vw;
    line-height: 1;
  }

  header a:hover {
    color: var(--light);
  }

  /* Nav style */

  nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  nav a {
    text-decoration: none;
    padding: 5px 10px;
    color: #70c5b0;
    margin-right: 10px;
    background-repeat: no-repeat;
    background-size: 100% 0.2em;
    background-position: bottom;
    transition: all 0.1s ease-in;
    font-size: 1.4rem;
  }

  nav a:hover {
    background-size: 100% 100%;
    color: var(--light);
  }

  nav a:last-child {
    margin-right: 0;
  }

  main {
    margin-top: 20px;
    margin-bottom: 45px;
  }

  /*Hero and Background image style*/

  .hero {
    height: 300px;
    background-image: url("../assets/img/Seattle.jpeg");
    border-bottom-left-radius: 30px 30px;
    border-bottom-right-radius: 30px 30px;
    background-size: cover;
    background-position: 100% 13%;
    background-attachment: fixed;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-end;
    border-top: 10px solid rgb(207, 99, 37);
  }

  /* Hero Messge */

  .hero-message {
    font-size: 40px;
    background-color: rgb(95, 119, 120);
    display: inline-block;
    border: 3px solid rgba(16, 123, 223, 0.35);
    position: relative;
    padding: 1rem;
    border-radius: 30px;
    color: rgb(233, 243, 241);
    padding-bottom: 15px;
    padding-right: 15px;
  }

  /* Hero Banner */

  .hero-banner div {
    flex: 0 0 90%;
  }

  .hero-banner h2 {
    background-color: var(--secondary);
    color: var(--tertiary);
    margin: 0;
    padding: 5px 10px;
    font-size: 2.2rem;
    line-height: 1.2;
    display: inline;
  }

  /* Main body style */

  .page-wrapper {
    max-width: 95%;
    margin-left: auto;
    margin-right: auto;
    background-image: url("../assets/img/background.jpeg");
  }

  .page-section {
    margin: 25px 0;
    padding: 10px 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-between;
  }

  .page-section>h2 {
    flex: 0 0 20%;
    text-align: right;
    padding-right: 15px;
    border-right: 4px solid var(--primary);
    font-size: vw;
    line-height: 1.1;
  }

  .page-section>div {
    flex: 0 0 75%;
  }

  .page-section p {
    margin-bottom: 20px;
    color: black;
  }

  /* Grid Structure */

  .grid-container {
    display: grid;
    column-gap: 10px;
    row-gap: 10px;
    grid-auto-flow: dense;
    grid-template-columns: repeat(12, 1fr);
    grid-auto-rows: minmax(150px, 1fr);
  }

  .grid-item {
    border: 1px solid var(--secondary);
    grid-column: span 4;
    background-color: var(--primary);
    color: var(--tertiary);
    min-height: 90px;
    display: flex;
    align-items: flex-end;
    padding: 0 0 20px 0;
    text-decoration: none;
    background-blend-mode: soft-light;
    background-size: 150%;
    transition: all 0.5s;
    font-size: 0.8rem;
  }

  /* Grid Portfolio - Feature First Child */

  .grid-item:first-child {
    grid-column: span 8;
    grid-row: span 2;
  }

  .grid-item:hover {
    background-color: rgba(210, 201, 201, 0.3);
  }

  .grid-item div {
    background-color: var(--secondary);
    padding: 10px;
  }

  .grid-item h3 {
    font-size: 1.4rem;
  }

  /* Source Code Btn (make sure to use Bobbi sugesstions) */

  #btn {
    background-color: rgb(238, 131, 9);
    color: black dark;
    border: 2px solid #0fcfc9;
    border-radius: 50px;
    margin-right: 1rem;
    /* Green */
  }

  /* Btn hover affect using shadowing methoad */

  #btn:hover {
    cursor: pointer;
    background-color: black;
    color: white;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
  }

  /* Projects Img Style */

  /* Project-1 */

  .calendar-project {
    background-image: url("../assets/img/Welcome.png");
    text-decoration: none;
    color: #c5c470;
    border: 2px solid #0fcfc9;
  }

  /* Project-2 */

  .horiseon {
    background-image: url("../assets/img/Horiseonwebsite.png");
    text-decoration: none;
    color: #c5c470;
    border: 2px solid #0fcfc9;
  }

  /* Project-3 */

  .work-day-scheduler {
    background-image: url("../assets/img/scheduler.png");
    text-decoration: none;
    color: #c5c470;
    border: 2px solid #0fcfc9;
  }

  .about {
    text-decoration: none;
    color: #64644e;
  }

  /* Project-4 */

  .readme-generator {
    background-image: url("../assets/img/README.png");
    text-decoration: none;
    color: #c5c470;
    border: 2px solid #0fcfc9;
  }

  /* Project-5 */

  .tutorade {
    background-image: url("../assets/img/Tutorade.png");
    text-decoration: none;
    color: #c5c470;
    border: 2px solid #0fcfc9;
  }

  /* Contact Section */

  .contact address {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    height: 100%;
  }

  .contact address a {
    color: var(--tertiary);
    padding: 5px;
    text-decoration: none;
    font-size: 1.1rem;
    font-style: normal;
    background-image: linear-gradient(270deg, var(--primary) 0%, var(--primary) 100%);
    background-repeat: no-repeat;
    background-size: 100% 0.2em;
    background-position: bottom;
    transition: all 0.25s ease-in;
    margin: 0 0.2rem 0.1rem;
    display: inline-block;
  }

  .contact address a:hover {
    background-size: 100% 88%;
    color: var(--light);
  }

  /* Footer style */

  footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: auto;
    padding: 3%;
    background-color: #13395c;
    color: #fff;
  }

  /* Interactive Features */

  /* Max Width 980px*/

  @media screen and (max-width: 980px) {
    header {
      padding: 0 0 10px 0;
      justify-content: center;
      text-align: center;
    }
    header h1 {
      width: 100%;
      padding: 5px;
      margin-bottom: 10px;
      font-size: 10vw;
    }
    header nav {
      justify-content: center;
    }
    .page-section>h2, .page-section>div {
      flex: 0 0 100%;
    }
    .page-section>h2 {
      border-right: none;
      border-bottom: 4px solid var(--primary);
      margin-bottom: 20px;
      padding-bottom: 10px;
      text-align: left;
      font-size: 4vw;
    }
    .hero-banner {
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      text-align: center;
      padding-left: 50px;
    }
  }

  /* Max Width 768px*/

  @media screen and (max-width: 768px) {
    .grid-item, .grid-item:first-child {
      grid-column: 1 / -1;
    }
    .grid-container {
      grid-auto-rows: minmax(200px, 1fr);
    }
    .contact address {
      flex-direction: column;
      align-items: center;
    }
  }